{% raw %}
<div id="trade_event">
  <div class="tradeEventHeadingWrapper">
    <div class="tradeEventHeading">
      <div>
        {{#_start_date}}
        <span class="tradeEventLabel">Start Date</span>
        <span id="trade_event_start_date">
          {{& .}}
        </span>
        {{/_start_date}}

        {{#_end_date}}
        <span class="tradeEventLabel">End Date</span>
        <span id="trade_event_end_date">
          - {{& .}}
        </span>
        {{/_end_date}}
      </div>

      <div>
        {{#start_time}}
        <span class="tradeEventLabel">Start Time</span>
        <span id="trade_event_start_time">
          {{& .}}
        </span>
        {{/start_time}}

        {{#end_time}}
        <span class="tradeEventLabel">End Time</span>
        <span id="trade_event_end_time">
          - {{& .}}
        </span>
        {{/end_time}}
      </div>

      <h1 id="trade_event_name">{{name}}</h1>
    </div>
  </div>

  <div class="tradeEventWrapper">
    <div class="tradeEventDescriptionAndIndustriesWrapper">
      <div id="trade_event_description_and_industries">
        <div id="trade_event_description">
          <span>Description</span>
          <div>{{& description}}</div>
        </div>

        {{#_industries}}
        <div id="trade_event_industries">
          <span>Related Events</span>
          <div>
            {{& .}}
          </div>
        </div>
        {{/_industries}}
      </div>
    </div>

    <div class="tradeEventFieldsWrapper">
      <div id="trade_event_fields">
        {{#_fields}}
        <div id="trade_event_{{field}}" class="tradeEventFieldBlock">
          <span>{{label}}</span>
          <div>{{& value}}</div>
        </div>
        {{/_fields}}
      </div>
    </div>
  </div>
</div>
{% endraw %}
