{% raw %}
<div class="main" id="content">
  <div id="background_img">
    <div class="section clearfix purple-bg-ita-img">
      <div>
        <div class="row content">
          <div class="containerInternal enforceHeight">
            <div class="row" id="introimg">
              <div class="col-md-10 pad-left-zero">
                <h1>{{name}}</h1>
                <h3>{{source}}</h3>
                {{#_registration_url}}
                <div id="trade_event_registration_url">
                  {{& .}}
                </div>
                {{/_registration_url}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="containerInternal enforceHeight">
      <div class="col-md-7 pad-left-zero">
        <div id="trade_event_description">
          <span>
            Description
          </span>
          <div>{{& description}}</div>
        </div>

        {{#_start_date}}
        <div id="trade_event_start_date">
          <span>
            Start Date
          </span>
          <div>
            {{& .}}
          </div>
        </div>
        {{/_start_date}}

        {{#_end_date}}
        <div id="trade_event_end_date">
          <span>
            End Date
          </span>
          <div>
            {{& .}}
          </div>
        </div>
        {{/_end_date}}

        {{#start_time}}
        <div id="trade_event_start_time">
          <span>
            Start Time
          </span>
          <div>
            {{& .}}
          </div>
        </div>
        {{/start_time}}

        {{#end_time}}
        <div id="trade_event_end_time">
          <span>
            End Time
          </span>
          <div>
            {{& .}}
          </div>
        </div>
        {{/end_time}}

        {{#_cost}}
        <div id="trade_event_cost">
          <span>
            Cost
          </span>
          <div>
            {{& .}}
          </div>
        </div>
        {{/_cost}}

        {{#_industries}}
        <div id="trade_event_industries">
          <div>
            {{& .}}
          </div>
        </div>
        {{/_industries}}
      </div>

      <div class="col-md-4 col-md-offset-1 pad-right-zero">
        <div class="well">
          <h4>Details</h4>
          {{#_fields}}
          <div id="trade_event_{{field}}" class="field_block">
            <span>
              {{label}}
            </span>
            <div>
              {{& value}}
            </div>
          </div>
          {{/_fields}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}